.header {
    width: 100%;
    font-size: 2rem;
    color: darkslateblue;
    margin-bottom: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
  }
  
  .title {
    float: left;
  }
  
  .scores {
    float: right;
  }
  